<div class="row footer">
    <div class="col">
      <p class="copyright">Copyright © 2023 All right reserved</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/aman-gupta-7929191a5" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/aman71010" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/_amangupta7/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
</div>